# Churn

## 1 - Import useful modules

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

## 2 - Load and prepare dataset

In [2]:
x_train = pd.read_csv('data/bank_data_train.csv', index_col='ID')
x_test = pd.read_csv('data/bank_data_test.csv', index_col='ID')

y_train = x_train.pop('TARGET')
x_test.drop(columns=['TARGET'], inplace=True)

In [3]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 355190 entries, 146841 to 590828
Columns: 114 entries, CR_PROD_CNT_IL to LDEAL_ACT_DAYS_PCT_CURR
dtypes: float64(94), int64(7), object(13)
memory usage: 311.6+ MB

In [4]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88798 entries, 400980 to 397854
Columns: 114 entries, CR_PROD_CNT_IL to LDEAL_ACT_DAYS_PCT_CURR
dtypes: float64(94), int64(7), object(13)
memory usage: 77.9+ MB

Lower case categorical columns to avoid duplicates.

In [5]:
categorical_train = x_train.select_dtypes(include=["object_"])
categorical_cols = categorical_train.columns
categorical_train = categorical_train.apply(lambda c: c.str.lower())

categorical_train.describe()

,CLNT_TRUST_RELATION,APP_MARITAL_STATUS,APP_KIND_OF_PROP_HABITATION,CLNT_JOB_POSITION_TYPE,CLNT_JOB_POSITION,APP_DRIVING_LICENSE,APP_EDUCATION,APP_TRAVEL_PASS,APP_CAR,APP_POSITION_TYPE,APP_EMP_TYPE,APP_COMP_TYPE,PACK
count,69421,68234,59361,44781,210811,57257,68104,57257,57256,60545,67362,67362,355190
unique,20,8,5,4,15111,2,12,2,2,4,4,4,12
top,friend,m,so,specialist,директор,n,h,n,n,specialist,private,private,102
freq,24896,32185,28056,25123,24974,36332,44370,52750,32843,36622,59087,59087,116986

In [6]:
categorical_test = x_test.select_dtypes(include=["object_"])
categorical_test = categorical_test.apply(lambda c: c.str.lower())

categorical_test.describe()

,CLNT_TRUST_RELATION,APP_MARITAL_STATUS,APP_KIND_OF_PROP_HABITATION,CLNT_JOB_POSITION_TYPE,CLNT_JOB_POSITION,APP_DRIVING_LICENSE,APP_EDUCATION,APP_TRAVEL_PASS,APP_CAR,APP_POSITION_TYPE,APP_EMP_TYPE,APP_COMP_TYPE,PACK
count,17497,17208,14982,11302,52852,14520,17188,14520,14520,15255,17001,17001,88798
unique,20,7,5,4,7554,2,12,2,2,4,4,4,11
top,friend,m,so,specialist,директор,n,h,n,n,specialist,private,private,102
freq,6387,8163,7111,6323,6278,9171,11072,13354,8302,9172,14943,14943,29190

Deal with duplicates in the `CLNT_TRUST_RELATION` column by translating Russian terms to their equivalent in English.

In [7]:
ru_to_en = {'друг': 'other', 'мать': 'mother', 'брат': 'brother', 'отец': 'father', 'сестра': 'sister', 'дочь': 'daughter', 'сын': 'son', 'мама': 'mother'}
categorical_train['CLNT_TRUST_RELATION'].replace(ru_to_en, inplace=True)
categorical_test['CLNT_TRUST_RELATION'].replace(ru_to_en, inplace=True)

In [8]:
x_train[categorical_cols] = categorical_train

for c in categorical_cols:
    print("-" * 80)
    print(x_train[c].value_counts())

--------------------------------------------------------------------------------
friend        24896
mother        11172
relative       8207
other          6850
brother        5620
sister         5583
father         3056
daughter       2032
son            1947
близкий ро       44
дальний ро        6
муж               5
жена              3
Name: CLNT_TRUST_RELATION, dtype: int64
--------------------------------------------------------------------------------
m    32185
v    23075
d     7777
t     3392
n      936
w      697
c      155
        17
Name: APP_MARITAL_STATUS, dtype: int64
--------------------------------------------------------------------------------
so         28056
jo         14153
other      11316
rent        3223
nprivat     2613
Name: APP_KIND_OF_PROP_HABITATION, dtype: int64
--------------------------------------------------------------------------------
specialist     25123
manager         9396
top_manager     7262
self_empl       3000
Name: CLNT_JOB_POSITION_TYPE, dtype: int64
--------------------------------------------------------------------------------
директор                              24974
менеджер                              12803
генеральный директор                   7083
руководитель                           4487
инженер                                4048
                                      ...
электромонтер по ремонту и обслужи        1
мастер погрузочно-разгрузочных раб        1
радиотелеграфист                          1
временно не работает.                     1
художник компьютерной графики             1
Name: CLNT_JOB_POSITION, Length: 15111, dtype: int64
--------------------------------------------------------------------------------
n    36332
y    20925
Name: APP_DRIVING_LICENSE, dtype: int64
--------------------------------------------------------------------------------
h     44370
ss    10235
uh     6254
s      3880
hh     1930
i       575
a       572
us      201
hi       52
e        23
ac        7
av        5
Name: APP_EDUCATION, dtype: int64
--------------------------------------------------------------------------------
n    52750
y     4507
Name: APP_TRAVEL_PASS, dtype: int64
--------------------------------------------------------------------------------
n    32843
y    24413
Name: APP_CAR, dtype: int64
--------------------------------------------------------------------------------
specialist     36622
manager        11706
top_manager     8481
self_empl       3736
Name: APP_POSITION_TYPE, dtype: int64
--------------------------------------------------------------------------------
private    59087
state       6062
inter       1358
ip           855
Name: APP_EMP_TYPE, dtype: int64
--------------------------------------------------------------------------------
private    59087
state       6062
inter       1358
ip           855
Name: APP_COMP_TYPE, dtype: int64
--------------------------------------------------------------------------------
102    116986
k01     77083
o01     50478
105     44936
107     27952
103     24860
104      6776
301      4208
101      1816
109        86
m01         7
108         2
Name: PACK, dtype: int64

In [9]:
x_test[categorical_cols] = categorical_test

for c in categorical_cols:
    print("-" * 80)
    print(x_test[c].value_counts())

--------------------------------------------------------------------------------
friend        6387
mother        2778
relative      2066
other         1683
sister        1412
brother       1396
father         772
daughter       525
son            464
близкий ро      11
дальний ро       2
жена             1
Name: CLNT_TRUST_RELATION, dtype: int64
--------------------------------------------------------------------------------
m    8163
v    5794
d    1925
t     853
n     248
w     187
c      38
Name: APP_MARITAL_STATUS, dtype: int64
--------------------------------------------------------------------------------
so         7111
jo         3515
other      2903
rent        820
nprivat     633
Name: APP_KIND_OF_PROP_HABITATION, dtype: int64
--------------------------------------------------------------------------------
specialist     6323
manager        2371
top_manager    1839
self_empl       769
Name: CLNT_JOB_POSITION_TYPE, dtype: int64
--------------------------------------------------------------------------------
директор                          6278
менеджер                          3224
генеральный директор              1699
руководитель                      1128
инженер                           1030
                                  ...
коммерчкский агент                   1
руковолитель отдела закупок it       1
заведующий общежитием                1
гл.науч.сотрудник                    1
ведущий sео-специалист 1             1
Name: CLNT_JOB_POSITION, Length: 7554, dtype: int64
--------------------------------------------------------------------------------
n    9171
y    5349
Name: APP_DRIVING_LICENSE, dtype: int64
--------------------------------------------------------------------------------
h     11072
ss     2596
uh     1620
s      1044
hh      502
i       158
a       132
us       43
e         9
hi        9
ac        2
av        1
Name: APP_EDUCATION, dtype: int64
--------------------------------------------------------------------------------
n    13354
y     1166
Name: APP_TRAVEL_PASS, dtype: int64
--------------------------------------------------------------------------------
n    8302
y    6218
Name: APP_CAR, dtype: int64
--------------------------------------------------------------------------------
specialist     9172
manager        2963
top_manager    2133
self_empl       987
Name: APP_POSITION_TYPE, dtype: int64
--------------------------------------------------------------------------------
private    14943
state       1508
inter        348
ip           202
Name: APP_EMP_TYPE, dtype: int64
--------------------------------------------------------------------------------
private    14943
state       1508
inter        348
ip           202
Name: APP_COMP_TYPE, dtype: int64
--------------------------------------------------------------------------------
102    29190
k01    19113
o01    12741
105    11339
107     6968
103     6233
104     1687
301     1044
101      457
109       24
108        2
Name: PACK, dtype: int64

In [10]:
'''integer_train = x_train.select_dtypes(include=["int"])
integer_cols = integer_train.columns
integer_train.describe()'''

'integer_train = x_train.select_dtypes(include=["int"])\ninteger_cols = integer_train.columns\ninteger_train.describe()'

In [11]:
'''for c in integer_cols:
    print("-" * 80)
    print(integer_train[c].value_counts())'''

'for c in integer_cols:\n    print("-" * 80)\n    print(integer_train[c].value_counts())'

In [12]:
x_train.describe()

,CR_PROD_CNT_IL,AMOUNT_RUB_CLO_PRC,PRC_ACCEPTS_A_EMAIL_LINK,APP_REGISTR_RGN_CODE,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,TURNOVER_DYNAMIC_IL_1M,CNT_TRAN_AUT_TENDENCY1M,SUM_TRAN_AUT_TENDENCY1M,AMOUNT_RUB_SUP_PRC,...,LDEAL_ACT_DAYS_ACC_PCT_AVG,REST_DYNAMIC_CC_3M,MED_DEBT_PRC_YWZ,LDEAL_ACT_DAYS_PCT_TR3,LDEAL_ACT_DAYS_PCT_AAVG,LDEAL_DELINQ_PER_MAXYWZ,TURNOVER_DYNAMIC_CC_3M,LDEAL_ACT_DAYS_PCT_TR,LDEAL_ACT_DAYS_PCT_TR4,LDEAL_ACT_DAYS_PCT_CURR
count,355190.000000,316867.000000,155163.0,60550.000000,155163.0,155163.0,355190.000000,77112.000000,77112.000000,316867.000000,...,93448.000000,355190.000000,95713.000000,93448.000000,98175.000000,95713.000000,355190.000000,93448.000000,93448.000000,93448.000000
mean,0.105225,0.044045,0.0,50.947498,0.0,0.0,0.001305,0.416896,0.414572,0.085249,...,0.051419,0.007309,0.055074,0.025707,0.049943,0.009252,0.004309,0.013938,0.013938,0.013938
std,0.431372,0.108449,0.0,21.777855,0.0,0.0,0.029118,0.316493,0.338612,0.142310,...,0.134960,0.066681,0.215909,0.115732,0.185830,0.092789,0.059852,0.097099,0.097099,0.097099
min,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.006944,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.0,33.000000,0.0,0.0,0.000000,0.166667,0.139645,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.0,54.000000,0.0,0.0,0.000000,0.300000,0.285714,0.027117,...,0.008822,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.036608,0.0,72.000000,0.0,0.0,0.000000,0.571429,0.661195,0.110005,...,0.033563,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,11.000000,1.000000,0.0,89.000000,0.0,0.0,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
x_test.describe()

,CR_PROD_CNT_IL,AMOUNT_RUB_CLO_PRC,PRC_ACCEPTS_A_EMAIL_LINK,APP_REGISTR_RGN_CODE,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,TURNOVER_DYNAMIC_IL_1M,CNT_TRAN_AUT_TENDENCY1M,SUM_TRAN_AUT_TENDENCY1M,AMOUNT_RUB_SUP_PRC,...,LDEAL_ACT_DAYS_ACC_PCT_AVG,REST_DYNAMIC_CC_3M,MED_DEBT_PRC_YWZ,LDEAL_ACT_DAYS_PCT_TR3,LDEAL_ACT_DAYS_PCT_AAVG,LDEAL_DELINQ_PER_MAXYWZ,TURNOVER_DYNAMIC_CC_3M,LDEAL_ACT_DAYS_PCT_TR,LDEAL_ACT_DAYS_PCT_TR4,LDEAL_ACT_DAYS_PCT_CURR
count,88798.000000,79198.000000,38520.0,15332.000000,38520.0,38520.0,88798.000000,19282.000000,19282.000000,79198.000000,...,23281.000000,88798.000000,23817.000000,23281.000000,24452.000000,23817.000000,88798.000000,23281.000000,23281.000000,23281.000000
mean,0.105948,0.044540,0.0,51.234151,0.0,0.0,0.001395,0.417814,0.415055,0.085612,...,0.051227,0.007159,0.053328,0.025664,0.050934,0.009531,0.004479,0.013860,0.013860,0.013860
std,0.433893,0.110796,0.0,21.545330,0.0,0.0,0.030099,0.315638,0.337138,0.142358,...,0.133796,0.065267,0.212901,0.114417,0.187097,0.094423,0.061463,0.096474,0.096474,0.096474
min,0.000000,0.000000,0.0,1.000000,0.0,0.0,0.000000,0.010204,0.000169,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.0,34.000000,0.0,0.0,0.000000,0.166667,0.141839,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.0,54.000000,0.0,0.0,0.000000,0.300000,0.288088,0.027147,...,0.008850,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.037049,0.0,72.000000,0.0,0.0,0.000000,0.571429,0.655653,0.111004,...,0.033926,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,11.000000,1.000000,0.0,89.000000,0.0,0.0,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [14]:
x_train.isna().sum()

CR_PROD_CNT_IL                   0
AMOUNT_RUB_CLO_PRC           38323
PRC_ACCEPTS_A_EMAIL_LINK    200027
APP_REGISTR_RGN_CODE        294640
PRC_ACCEPTS_A_POS           200027
                             ...
LDEAL_DELINQ_PER_MAXYWZ     259477
TURNOVER_DYNAMIC_CC_3M           0
LDEAL_ACT_DAYS_PCT_TR       261742
LDEAL_ACT_DAYS_PCT_TR4      261742
LDEAL_ACT_DAYS_PCT_CURR     261742
Length: 114, dtype: int64

In [15]:
x_test.isna().sum()

CR_PROD_CNT_IL                  0
AMOUNT_RUB_CLO_PRC           9600
PRC_ACCEPTS_A_EMAIL_LINK    50278
APP_REGISTR_RGN_CODE        73466
PRC_ACCEPTS_A_POS           50278
                            ...
LDEAL_DELINQ_PER_MAXYWZ     64981
TURNOVER_DYNAMIC_CC_3M          0
LDEAL_ACT_DAYS_PCT_TR       65517
LDEAL_ACT_DAYS_PCT_TR4      65517
LDEAL_ACT_DAYS_PCT_CURR     65517
Length: 114, dtype: int64

Fill NA values.

In [16]:
x_train.fillna(0, inplace=True)

In [17]:
x_test.fillna(0, inplace=True)

In [18]:
y_train.value_counts()

0    326265
1     28925
Name: TARGET, dtype: int64

Split the training set into a train dataset (80%) and a dev set (20%) with stratification.

In [19]:
X_train, X_dev, Y_train, Y_dev = train_test_split(x_train, y_train, test_size=0.2, stratify=y_train, random_state=1337)

In [20]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 284152 entries, 568142 to 379756
Columns: 114 entries, CR_PROD_CNT_IL to LDEAL_ACT_DAYS_PCT_CURR
dtypes: float64(94), int64(7), object(13)
memory usage: 249.3+ MB

In [21]:
X_dev.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71038 entries, 216468 to 157340
Columns: 114 entries, CR_PROD_CNT_IL to LDEAL_ACT_DAYS_PCT_CURR
dtypes: float64(94), int64(7), object(13)
memory usage: 62.3+ MB